@extends('layouts.app')

@section('page-title')
title 产品展示——上海信豚实业有限公司
@endsection

@section('main')
.products
	.product-frame.row
		.col-md-6.col-sm-6.col-xs-6.product-container
			.product
					a.exit-full-screen.control
						i.remove.icon
					.p-img
						img.active(src="/images/products/1/0.jpg")
		.col-md-6.col-sm-6.col-xs-6.p-intro
			h2.title 越南巴沙鱼产品
			p.intro 越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品
	.product-frame.row
		.col-md-6.col-sm-6.col-xs-6.p-intro
			h2.title 越南巴沙鱼产品
			p.intro 越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品
		.col-md-6.col-sm-6.col-xs-6.product-container
			.product
					a.exit-full-screen.control
						i.remove.icon
					.p-img
						img.active(src="/images/products/1/1.jpg")
	.product-frame.row
		.col-md-6.col-sm-6.col-xs-6.product-container
			.product
					a.exit-full-screen.control
						i.remove.icon
					.p-img
						img.active(src="/images/products/1/2.jpg")
		.col-md-6.col-sm-6.col-xs-6.p-intro
			h2.title 越南巴沙鱼产品
			p.intro 越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品越南巴沙鱼产品
@endsection
