@extends('layouts.app')

@section('page-title')
title 内容管理——上海信豚实业有限公司
@endsection

@section('additional-styles')
@parent
link(rel="stylesheet" href="/stylesheets/dist/font-awesome.min.css")
link(rel="stylesheet" href="/stylesheets/dist/root.min.css")
@endsection

@section('main')
.ui.header
    i.settings.icon
    h2.content 网站内容管理
.row.manage-panel
    label.operation-message
    .col-md-3.col-sm-3.col-xs-3
        .ui.vertical.menu
            a.item.active(data-tab=1)
                i.fa.fa-plus-square
                span  添加新闻
            a.item(data-tab=2)
                i.fa.fa-list-alt
                span  管理新闻
            .item
                i.fa.fa-list
                span  管理页面
                .menu
                    a.item.edit-page(data-tab=3)
                        i.fa.fa-pencil-square-o
                        span 关于信豚
                    a.item.edit-page(data-tab=4)
                        i.fa.fa-building-o
                        span 商业合作
                    a.item.edit-page(data-tab=5)
                        i.fa.fa-user-plus
                        span 招贤纳士
                    a.item.edit-page(data-tab=6)
                        i.fa.fa-tty
                        span 联系我们
            a.item(data-tab=7)
                i.fa.fa-key
                span 修改密码
    .tabs-co.col-md-9.col-sm-9.col-xs-9
        .ui.tab.news.active(data-tab=1)
            .ui.header
                h3.content 添加新闻
            form#frm(method="post" action="/upload")
                {{ csrf_field() }}
                h2#ul_title
                    .title.ui.input.transparent
                        input#input-title.title(name="title" rows="1" autofocus="autofocus" required="required" placeholder="标题")
                #ul_author
                    .title.ui.input.transparent
                        input#input-author.author(name="author" rows="1" placeholder="作者")
                #frm-body
                    #input-body
                        br
                .hidden
                    input.content(name="content" type="text")
            #ops
                #btn-upload.ui.labeled.icon.button.basic.teal.small( onclick='uploadPost("#frm")') 发布
                    i.icon.send.outline
                #btn-img.ui.labeled.icon.button.basic.orange.small 添加图片
                    i.icon.file.image.outline
        .ui.tab.edit-news(data-tab=2)
            .ui.header
                h3.content 管理新闻
        -var editPages=[{},{},{},{title:'关于信豚',name:'about'},{title:'商业合作',name:'cooperation'},{title:'招贤纳士',name:'career'},{title:'联系我们',name:'contact'}]
        each page, index in editPages
            if index > 2
                .ui.tab.edit-news(data-tab=index)
                    .ui.header
                        h3.content= page.title
                    form.page(method="post" action="/update_page" id='page' + index)
                        {{ csrf_field() }}
                        #frm-body
                            .input-body(id='mce-input'+index)
                                br
                        .hidden
                            input(type='text' name="type" value=page.name)
                    #ops
                        #btn-upload.ui.labeled.icon.button.basic.teal.small(data-form= ('#page' + index) onclick='updatePage(this)') 更新
                            i.icon.send.outline
                        #btn-img.ui.labeled.icon.button.basic.orange.small 添加图片
                            i.icon.file.image.outline
        .ui.tab.secu(data-tab=7)
            .ui.header
                h3.content 修改密码
            form#frm-secu(method="post" action="/upload")
                {{ csrf_field() }}
                p.tip-message
                .title.ui.input
                    label.meta 旧密码:
                    input#input-author.author(type="password" name="oldpassword" rows="1" placeholder="旧密码")
                .title.ui.input
                    label.meta 新密码:
                    input#input-author.author(type="password" name="password" rows="1" placeholder="新密码")
                .hidden
                    input(type='text' name="name" value='secu')
            #ops
                #btn-upload.ui.labeled.icon.button.basic.teal.small(onclick='updatePass()') 提交
                    i.icon.send.outline
@endsection

@section('additional-scripts')
script(src="/tinymce/tinymce.min.js")
script(src="/javascripts/dist/root.babeled.min.js")
@endsection
