#place
	.place-hero
		h2.title Big Apple
	.intro
		p!= '"Big Apple" is a nickname for New York City. It was first popularized in the 1920s by John J. Fitz Gerald, a sports writer for the New York Morning Telegraph. Its popularity since the 1970s is due to a promotional campaign by the New York Convention and Visitors Bureau, known now as NYC & Company.'
	.articles 相关文章
		.item
			h2.title this is another title
	.more-related 更多