.container-fluid.no-boundry
	.col-xs-12.col-sm-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
		#user
			#user-profile
				a.user-pic
					img(src!="{{'/images/user/'.$user->id.'.jpg'}}")
					.change-pic
						label 替换
				a.username!='{{$user->username}}'
			#user-portfolio
